Repository lonr/tldr-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts}": "eslint --fix",
  "*.{js,jsc,ts,json,md}": "prettier --write"
}

chore(husky): update commitlint hook
  .husky/commit-msg
  pnpm-lock.yaml
Due: none

ci(sementic-release): add releaserc.json
  .releaserc.json
Due: prettier --write

Notes added by 'git notes add'
  68ad31ac348d73fea37d26f72c88cbaa9a86d4bb
Due: none

feat(page.ts): colorize output; improve performance
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  src/page.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  982815c66fc8b113d4656a316662db6667c41523
Due: none

perf: remove or replace or lazyload some dependiences
  package.json
  pnpm-lock.yaml
  src/cli.ts
  src/page.ts
  src/pages.ts
  src/platform.ts
  src/tldr.ts
  src/utils.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  370a8cf9af9345c5720c7caec16a7b6c02b02e68
Due: none

build(rollup.config.ts): use rollup to bundle external deps
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  tsconfig.eslint.json
Due: eslint --fix, prettier --write

perf: just trigger a release
  rollup.config.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  6c5bcdeeaee08ab78714d278c60b3c03d2251df3
Due: none

fix: handwrite the version number
  src/cli.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  1aa28c227c503929e48304852d8184e11e967e9e
Due: none

fix(directories): fix bug on Windows
  package.json
  pnpm-lock.yaml
  src/cli.ts
  src/directories.ts
  src/page.ts
  src/tldr.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  8f67b2c86b12272e9e2b7dc039d9d5b1309b2110
Due: none

fix(page.ts): use git cli instead of `isomorphic-git`
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  src/cli.ts
  src/page.ts
  src/platform.ts
  src/tldr.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  98ec2f438637fbe64d8e32d9d82f96381db458ba
Due: none

fix(tldr.ts): replace `git pull` with `git fetch` and `git reset`
  src/cli.ts
  src/tldr.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  1efc9c9d39901b47340ccd785cb0bbc490dd3c6f
Due: none

feat: follow spec 2.2
  .czrc
  .editorconfig
  .eslintignore
  .eslintrc.cjs
  .github/workflows/release.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .prettierrc.json
  .swcrc
  LICENSE
  README.md
  bin/tldr.js
  commitlint.config.cjs
  commitlint.config.js
  eslint.config.js
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  src/cli.ts
  src/directories.ts
  src/page.ts
  src/platform.ts
  src/tldr.ts
  src/utils.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  3b27720163c437f9d6d9d6882e078805587b1ee3
Due: none

fix: supress warnning
  package.json
  src/cli.ts
  src/tldr.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  611715fe03ddc1a51fb2cd16de7f179de3ad94bc
Due: none

fix: another try
  package.json
  src/tldr.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  8e2abc05c8dfcd7a76554ddf40e422fbea0f65e6
Due: none

fix: quote pagesDir in git clone command
  package.json
  pnpm-lock.yaml
  src/tldr.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  75e92a0da602adef408d300c033748df5940d895
Due: none

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none
